<configuration>
    <contextName>xTest</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%-11thread] %-5level %-40logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.bitresolution.xtest" level="INFO"/>

    <logger name="org.springframework" level="ERROR"/>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>